/* General form container styling */
.form-container {
  margin: 0;
  padding: 2rem;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 900px; /* Increased width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Form styling */
.form-container-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Label styling */
.form-container-form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* Input field styling */
.form-container-form select,
.form-container-form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

/* Input field focus styling */
.form-container-form input:focus,
.form-container-form select:focus {
  outline: none;
  border-color: #4CAF50;
}

/* Specific styling for number input */
.form-container-form input[type="number"] {
  -moz-appearance: textfield;
}

/* Submit button styling */
.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Submit button hover effect */
.submit-btn:hover {
  background-color: #45a049;
}

/* Submit button disabled state */
.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* General styling for input groups */
.input-group {
  margin-bottom: 1rem;
}

/* Header styling */
h2 {
  margin-top: 0;
  color: black;
  text-align: center;
  font-size: 1.5rem; /* Increased font size */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .form-container {
    padding: 1rem; /* Reduced padding for smaller screens */
    max-width: 90%;
  }

  .form-container-form label {
    font-size: 1rem; /* Adjusted font size for labels */
  }

  .form-container-form input {
    font-size: 1rem; /* Adjusted font size for inputs */
  }

  .submit-btn {
    padding: 0.5rem 0.8rem; /* Adjusted padding for buttons */
  }

  h2 {
    font-size: 1.4rem; /* Adjusted font size for the header */
  }
}

@media (max-width: 480px) {
  .form-container {
    padding: 0.8rem; /* Reduced padding for extra small screens */
    max-width: 95%;
  }

  .form-container-form label {
    font-size: 0.9rem; /* Smaller font size for labels */
  }

  .form-container-form input {
    font-size: 0.9rem; /* Smaller font size for inputs */
  }

  .submit-btn {
    padding: 0.5rem 0.7rem; /* Smaller padding for submit button */
  }

  h2 {
    font-size: 1.2rem; /* Smaller header font size */
  }
}
